*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
.container{
    text-align: center;
    width: 100%;
  }
.container img{
    width: 200px;
  }
.container button{
    width: 100px;
    height: 50px;
    font-size: 24px;
}